body {
    background-color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: 1.4em;
}

h1 {
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#bild {
    text-align: right;
    margin: 80px 10px 0px 0px;
}

#bio {
    margin: -150px 0px 0px 0px;
}

#oko {
    margin: -150px 0px 0px 220px;
}

#fairtrade {
    margin: -180px 0px 0px 440px;
}

#schwein {
    margin: -720px 0px 0px -130px;
}

#design {
    font-size: 2.5em;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: -610px 0px 0px -870px;
}